# Clean snomed

In [1]:
import pandas as pd

In [2]:
snomed_df = pd.read_csv("ontologies/snomed/ontology_concepts.csv")

In [5]:
snomed_df.loc[snomed_df["is_preferred_name"], "is_preferred_name"] = "1"

In [11]:
snomed_df.loc[snomed_df["is_preferred_name"]==False, "is_preferred_name"] = "0"

In [12]:
snomed_df.head()

,Unnamed: 0,cui,concept_name,is_preferred_name,type_name,ontology,tui
0,0,101009,Quilonia ethiopica (organism),1,organism,SNOMED-CT,6000
1,1,101009,Quilonia ethiopica,0,organism,SNOMED-CT,6000
2,2,102002,Hemoglobin Okaloosa (substance),1,substance,SNOMED-CT,19000
3,3,102002,Hemoglobin Okaloosa,0,substance,SNOMED-CT,19000
4,4,102002,"Hb 48(CD7), Leu-arg",0,substance,SNOMED-CT,19000

In [13]:
snomed_df.to_csv( "ontologies/snomed/ontology_concepts.csv",index=False)